@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    border-radius: none;
}
  
.body {
    background-color: #232946;
}

.header {
    background-color: #FFFF;
    display: flex;
    justify-content: space-evenly;
}

#nb {
    background: #FFF;
  }
  
.nav li{
    list-style: none;
    display: inline;
    margin: 0 0 0 15px;
}
  
.nav a {
    text-decoration: none;
    color: black;
}

.nav a:active {
    font-weight: bold;
  }
  
.bt {
    margin: 10px 2px;
}
  
.bt a {
    text-decoration: none;
    color: black;
}

#rt {
    background-color: #D9D9D9;
    width: 14rem;
    height: 12rem;
}

#card {
    background-color: #D9D9D9;
    width: 14rem;
    height: 12rem;
    margin: 0 3px;
    transition: 1s;
}

#card:hover{
    transform: scale(1.1);
    z-index: 2;
}
